html
  head
    meta(charset="UTF-8")
    title Boilerplate App
    
    link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")
      
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
          
    script(type="text/javascript" src="/js/app.js")
  body
    h2 Boilerplate App
    h3 Go make funny apps with it!